 <!-- about section -->

 <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 col-lg-5 ">
          <div class="img-box">
            <img src="assets/images/accessoireTele.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                À propos 
              </h2>
            </div>
            <p>
              Découvrez l'excellence chez CellularChic, où notre sélection d'accessoires téléphoniques allie style, durabilité et performance. 
              Transformez votre expérience téléphonique avec nos produits soigneusement conçus pour allier fonctionnalité et élégance au quotidien
            </p>
            <a href="">
              En savoir plus
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
