 <!-- shop section -->

 <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Dernières Versions
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="assets/images/coque.png" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  COQUE SILICONE <br/> POUR SMARTPHONE SAMSUNG J1 ACE MINI
                </h6>
                <h6>
                  Prix:
                  <span>
                    3.000DT
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  En vedette
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="assets/images/jd-cq-gr3_1.jpg" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  COQUE SILICONE <br/> POUR SMARTPHONE HUAWEI GR3

                </h6>
                <h6>
                  Prix:
                  <span>
                    2.000DT
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  Nouveau
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="assets/images/jd-tg.jpg" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  TEMPERETED GLASS HUAWEI GR3

                </h6>
                <h6>
                  Prix:
                  <span>
                   7.000DT
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  Nouveau
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="assets/images/glass.jpg" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  TEMPERETED GLASS LENOVO VIBE SHOT

                </h6>
                <h6>
                  Prix:
                  <span>
                    13.000DT
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  En vedette
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="assets/images/cable-de-charge.jpg" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  CÂBLE DE CHARGE ORIGINAL MODEM CAT MCB-004 MICRO-USB - GRIS
                </h6>
                <h6>
                  Prix:
                  <span>
                   20.000DT
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  En Stock
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6  col-xl-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="assets/images/cable-dorigin.jpg" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  CÂBLE DE CHARGE KINGLEEN K37 USB VERS MICRO USB - BLANC
                </h6>
                <h6>
                  Prix:
                  <span>
                    25.000DT
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  En Stock
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="assets/images/power-bank.jpg" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  POWER BANK UEELR 3X 10000 MAH AVEC AFFICHEUR - BLEU

                </h6>
                <h6>
                  Prix:
                  <span>
                   130.000DT
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  En Stock

                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Voir Tout
        </a>
      </div>
    </div>
  </section>

  <!-- end shop section -->
