

  <div class="hero_area">
    <div class="hero_social">
      <a href="">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a href="">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </div>
    <!-- header section strats -->
    <app-header></app-header>
    <!-- end header section -->
    <!--  section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Accessoires Téléphonie
                    </h1>
                    <p>
                      Découvrez une gamme élégante d'accessoires 
                      téléphoniques qui allient style et fonctionnalité, offrant une expérience exceptionnelle pour rester connecté avec élégance.      
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Contactez-Nous
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="assets/images/accessoires.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        
        </div>
      
      </div>

    </section>
    <!-- end  section -->
  </div>

 
 

 

 

  